{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
<h1>Book Collection</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td><a href="{{ url_for('book_detail', book_id=book.id) }}">{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}